---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

const articles = await getCollection("articles");
---

<Layout title={"Books"}>
  <section>
    {
      articles.map((article) => (
        <a href={`/articles/${article.slug}`}>
          <article class="flex flex-row items-start gap-10">
            {article.data.image && (
              <Image src={article.data.image} alt={article.data.title} />
            )}
            <div class="">
              <h2
                transition:name={`article-${article.id}-title`}
                class="text-3xl font-serif font-bold"
              >
                {article.data.title}
              </h2>
              <p transition:name={`article-${article.id}-description`}>
                {article.data.description}
              </p>
            </div>
          </article>
        </a>
      ))
    }
  </section>
</Layout>
