---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import TableOfContents from "../components/TableOfContents.astro";
import { Image } from "astro:assets";

const books = await getCollection("books");

const categoriesWithBooks: Record<string, typeof books> = books.reduce(
  (acc, book) => {
    if (!acc[book.data.category]) {
      acc[book.data.category] = [];
    }

    acc[book.data.category].push(book);

    return acc;
  },
  {}
);

const allCategory = {
  title: "All",
  slug: "all",
  count: books.length,
};

const categories = [allCategory].concat(
  Object.keys(categoriesWithBooks).map((category) => ({
    title: category,
    slug: category.toLocaleLowerCase().replace(/\s/g, "-"),
    count: categoriesWithBooks[category].length,
  }))
);
---

<Layout title={"Books"}>
  <div class="flex flex-col gap-20">
    <aside class="sticky top-5 bg-white overflow-auto scroll-m-4 left-0">
      <nav class="flex flex-row gap-3">
        {
          categories.map((category) => {
            return (
              <a
                href={`#books-${category.slug}`}
                class="block no-underline px-3  py-1 rounded-md bg-black/10 hover:bg-black/20 transition-all"
              >
                {category.title} ({category.count})
              </a>
            );
          })
        }
      </nav>
    </aside>
    <section>
      {
        Object.entries(categoriesWithBooks).map(([category, books]) => (
          <section>
            <h2
              class="text-3xl w-full block py-2 border-b mb-5"
              id={`books-${category}`}
            >
              {category}
            </h2>
            <div class="flex flex-row gap-5 overflow-auto scroll-m-5">
              {books.map((book) => (
                <a href={`/books/${book.slug}`}>
                  <article class="relative overflow-clip group max-w-[250px]">
                    <Image src={book.data.cover} alt={book.data.title} />
                    <div class="absolute p-4 inset-0 flex flex-col justify-end h-full w-full bg-black/60 text-white translate-y-full group-hover:translate-y-0 transition-all">
                      <h3 class="text-xl font-bold">{book.data.title}</h3>
                      <p>{book.data.description}</p>
                    </div>
                  </article>
                </a>
              ))}
            </div>
          </section>
        ))
      }
    </section>
  </div>
</Layout>
