---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import ListHeader from "../components/ListHeader.astro";
import RootLayout from "../layouts/RootLayout.astro";

const books = await getCollection("books");

const categoriesWithBooks: Record<string, typeof books> = books.reduce(
  (acc, book) => {
    if (!acc[book.data.category]) {
      acc[book.data.category] = [];
    }

    acc[book.data.category].push(book);

    return acc;
  },
  {}
);

const allCategory = {
  title: "All",
  slug: "all",
  count: books.length,
};

const categories = [allCategory].concat(
  Object.keys(categoriesWithBooks).map((category) => ({
    title: category,
    slug: category.toLocaleLowerCase().replace(/\s/g, "-"),
    count: categoriesWithBooks[category].length,
  }))
);
---

<RootLayout title={"Books"}>
  <main id="content" class="max-w-7xl">
    <div class="flex flex-col">
      <ListHeader title="Books" />

      <div class="prose py-5">
        <blockquote class="font-serif">
          <p class="my-3">
            Of all the things written, I love only what a person has written
            with his own blood. Write with blood, and you will experience that
            blood is spirit.
          </p>
          <footer>Friedrich Nietzsche, <cite>The Gay Science</cite></footer>
        </blockquote>
      </div>

      <section class="flex flex-col mt-10 gap-20">
        {
          Object.entries(categoriesWithBooks).map(([category, books]) => (
            <section>
              <h2
                class="text-4xl font-serif w-full block py-2 border-b mb-5"
                id={`books-${category}`}
              >
                {category}
              </h2>
              <div class="flex flex-row gap-10 overflow-auto items-center scroll-mx-10">
                {books.map((book) => (
                  <a href={`/books/${book.slug}`}>
                    <article class="relative overflow-clip group w-[200px]">
                      <Image
                        src={book.data.cover}
                        alt={book.data.title}
                        densities={[1, 2, 3]}
                        transition:name={`book-${book.id}-cover`}
                      />
                      <div class="absolute p-4 bottom-0 w-full flex h-fit flex-col justify-end h bg-black/60 text-white translate-y-full group-hover:translate-y-0 transition-all">
                        Read more.
                      </div>
                    </article>
                  </a>
                ))}
              </div>
            </section>
          ))
        }
      </section>
    </div>
  </main>
</RootLayout>
