---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import ListHeader from "../components/ListHeader.astro";
import ReadMoreButton from "../components/ReadMoreButton.astro";

const projects = await getCollection("projects");
---

<Layout title={"Projects"}>
  <section class="divide-y divide-neutral-500 flex flex-col">
    <ListHeader title="Projects" />
    {
      projects.map((project) => (
        <a class="group block w-full" href={`/projects/${project.slug}`}>
          <article
            transition:animate="slide"
            class="flex py-10 flex-col md:flex-row items-end gap-10"
          >
            {project.data.image && (
              <Image
                width={450}
                transition:name={`project-${project.id}-image`}
                class="max-w-full w-[450px]"
                densities={[1, 2, 3]}
                src={project.data.image}
                alt={project.data.title}
              />
            )}
            <div class="md:relative bg-white/80 backdrop-blur-md -left-32 -bottom-5 px-4 py-5">
              <h2
                transition:name={`project-${project.id}-title`}
                class="text-3xl font-serif font-bold"
              >
                {project.data.title}
              </h2>
              <p transition:name={`project-${project.id}-description`}>
                {project.data.description}
              </p>
              <ReadMoreButton iconSize="16" />
            </div>
          </article>
        </a>
      ))
    }
  </section>
</Layout>
