---
import type { MarkdownHeading } from "astro";
import { fade } from "astro:transitions";
import RootLayout from "./RootLayout.astro";
import TableOfContents from "../components/TableOfContents.astro";
import { Image } from "astro:assets";
import clsx from "clsx";
import type { ActiveTabType } from "../components/Header.astro";

interface Props {
  id: string;
  title: string;
  description: string;
  headings?: MarkdownHeading[];
  activeTab?: ActiveTabType;
  type: "article" | "project" | "page";
  image?: {
    src?: string;
    width?: number;
    height?: number;
    format?: "png" | "jpg" | "jpeg" | "tiff" | "webp" | "gif" | "svg" | "avif";
  }; // TODO: extract to a type or find astro type
}

const { id, title, image, type, headings, description, activeTab } =
  Astro.props;
---

<RootLayout activeTab={activeTab} title={title} description={description}>
  <main id="content" class="w-full max-w-5xl xl:max-w-6xl mx-auto px-5 py-10">
    <article class="flex flex-col">
      {
        image && (
          <Image
            transition:animate="none"
            densities={[1, 2, 3]}
            class="w-full sticky top-10 left-0 z-10"
            transition:name={`${type}-${id}-image`}
            src={image}
            alt={``}
          />
        )
      }
      <div class={clsx("bg-white flex flex-col gap-6 pb-20 relative z-20")}>
        <h1
          id={`${type}-title`}
          class="font-serif transition-all bg-white data-[scrolled=true]:text-3xl block py-5 z-10 sticky top-0 text-5xl xl:text-6xl"
          transition:name={`${type}-${id}-title`}
        >
          {title}
        </h1>
        <section
          class="w-full flex justify-between flex-row md:gap-14 lg:gap-14 xl:gap-28"
        >
          <div class="prose 2xl:prose-lg break-keep hyphens-auto">
            <slot />
          </div>
          {
            headings && (
              <>
                <button
                  id="toggleToc"
                  type="button"
                  class="fixed bg-brand md:hidden py-3 font-bold text-white bottom-10 right-10 px-3 w-fit rounded-full z-40"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M4 6h16M4 12h16M4 18h16"
                    />
                  </svg>
                </button>
                <aside
                  data-open-on-mobile="false"
                  id="table-of-contents-wrapper"
                  class="md:sticky left-0 py-10 px-5 md:px-0 md:py-0 flex flex-col justify-end md:justify-normal md:left-auto h-[100dvh] md:h-auto w-full bg-white fixed bottom-0 translate-y-full data-[open-on-mobile='true']:translate-y-0 md:translate-y-0 md:block md:top-20 xl:top-24 md:w-[300px] text-lg md:text-sm xl:text-base max-h-[100dvh]  transition-all z-30"
                >
                  <TableOfContents headings={headings} />
                </aside>
              </>
            )
          }
        </section>
      </div>
    </article>
  </main>

  <script>
    document.addEventListener(
      "astro:page-load",
      () => {
        const toggleToc = document.getElementById("toggleToc");
        const tocWrapper = document.querySelector("#table-of-contents-wrapper");

        toggleToc.addEventListener("click", () => {
          const openOnMobile =
            tocWrapper.getAttribute("data-open-on-mobile") === "true";

          tocWrapper.setAttribute(
            "data-open-on-mobile",
            openOnMobile ? "false" : "true"
          );

          document.querySelector("body").classList.toggle("overflow-hidden");
        });

        tocWrapper.querySelectorAll("a").forEach((link) => {
          link.addEventListener("click", () => {
            tocWrapper.setAttribute("data-open-on-mobile", "false");
            document.querySelector("body").classList.remove("overflow-hidden");
          });
        });
      },
      { once: true }
    );
  </script>
</RootLayout>
