---
import SocialIcon from "../components/SocialIcon.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;

const socialLinks: {
  type: "twitter" | "github" | "linkedin" | "instagram" | "twitch" | "youtube";
  href: string;
}[] = [
  { type: "twitter", href: "https://twitter.com/chrcit" },
  { type: "github", href: "https://github.com/chrcit" },
  {
    type: "linkedin",
    href: "https://www.linkedin.com/in/christian-cito-9b72a117b/",
  },
  {
    type: "instagram",
    href: "https://instagram.com/chrcit",
  },
  {
    type: "twitch",
    href: "https://twitch.tv/chrcit",
  },
  {
    type: "youtube",
    href: "https://youtube.com/@chrcit",
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <a href="#content" class="sr-only focus:not-sr-only absolute top-0 left-0"
      >Skip to content</a
    >
    <header class="flex justify-between w-full max-w-4xl mx-auto py-5">
      <a href="/" class="">
        <h1 class="text-3xl font-bold">chrcit.com</h1>
      </a>

      <nav>
        <ul class="flex flex-row gap-1">
          {
            [
              {
                name: "2023 year in review",
                href: "/articles/2023-year-in-review",
              },
              { name: "/uses", href: "/uses" },
              { name: "/now", href: "/now" },
            ].map((link) => (
              <li class="px-2">
                <a
                  class="hover:underline underline-offset-2 cursor-auto"
                  href={link.href}
                >
                  {link.name}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </header>

    <main id="content" class="mx-auto max-w-4xl prose py-10">
      <slot />
    </main>

    <footer class="py-5 flex flex-col gap-5">
      <div class="flex flex-row w-full justify-between max-w-4xl mx-auto">
        <nav>
          <ul class="flex flex-row">
            {
              socialLinks.map((link) => (
                <li class="px-2">
                  <a
                    class="hover:underline cursor-pointer underline-offset-2"
                    href={link.href}
                    title={`Link to my ${link.type}`}
                  >
                    <SocialIcon size="16" type={link.type} />
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
        <nav>
          <ul>
            {
              [
                { name: "Privacy Policy", href: "/privacy-policy" },
                { name: "Imprint", href: "/imprint" },
              ].map((link) => (
                <li class="px-2">
                  <a
                    class="hover:underline underline-offset-2 cursor-auto"
                    href={link.href}
                  >
                    {link.name}
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
      </div>
      <p class="text-center">© {new Date().getFullYear()} Christian Cito</p>
    </footer>
  </body>
</html>
<style is:global>
  html,
  body {
    scroll-behavior: smooth;
  }
</style>
