---
import { Image } from "astro:assets";
import type { ActiveTabType } from "../components/Header.astro";
import ReadMoreButton from "../components/ReadMoreButton.astro";
import RootLayout from "./RootLayout.astro";
import ListHeader from "../components/ListHeader.astro";

interface Props {
  title: string;
  description: string;
  activeTab: ActiveTabType;
  items: {
    type: "project" | "article" | "book";
    id: string;
    title: string;
    description: string;
    image: string;
    slug: string;
  }[];
}

const { title, activeTab, items, description } = Astro.props;
---

<RootLayout title={title} description={description} activeTab={activeTab}>
  <section
    class="flex flex-col max-w-5xl xl:max-w-7xl mx-auto px-5 gap-5 py-10"
  >
    <ListHeader title={title} />

    <div>
      {
        items.map((item, index) => (
          <a
            style={{
              animationDelay: `${index * 150 + 250}ms`,
            }}
            class="group block break-words translate-y-[5rem] opacity-0 animate-fade-in-up hyphens-auto w-full"
            href={`/${item.type}s/${item.slug}`}
          >
            <article class="flex py-10 flex-col gap-10 md:flex-row lg:flex-col xl:flex-row md:items-end lg:items-start xl:items-end ">
              {item.image && (
                <Image
                  transition:name={`${item.type}-${item.id}-image`}
                  class="max-w-full xl:w-[400px] aspect-video"
                  densities={[1, 2, 3]}
                  src={item.image}
                  alt={item.title}
                />
              )}
              <div class="lg:px-4 space-y-3">
                <h2
                  transition:name={`${item.type}-${item.id}-title`}
                  class="text-5xl font-serif"
                >
                  {item.title}
                </h2>
                <p transition:name={`${item.type}-${item.id}-description`}>
                  {item.description}
                </p>
                <ReadMoreButton iconSize="16" />
              </div>
            </article>
          </a>
        ))
      }
    </div>
  </section>
</RootLayout>
